<!-- Flickity HTML init -->
    <div class="mt-6 carousel js-flickity rounded-xl">
        <!-- images from unsplash.com -->
        <div class="carousel-cell">
            <span class="carousel-texto">Nike</span>
            <img src="./img/nike.jpg" alt="orange tree" />
        </div>
        <div class="carousel-cell">
            <span class="carousel-texto">Adidas</span>
            <img src="./img/adidas.jpg" alt="submerged" />
        </div>
        <div class="carousel-cell">
            <span class="carousel-texto">Jordan</span>
            <img src="./img/jordan.jpg" alt="look-out" />
        </div>
    </div>